<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
    <h2 style="color: pink; border: 2px solid pink; border-radius: 10px; text-align: center;">Upcoming Events</h2>
      <div class="row">
        <% current_user.all_favorites.each_with_index do |favorite, index| %>
          <div class="col-6 mb-4">
            <div>
              <div class="d-block">
                <%#= image_tag favorite.favoritable.image_url, alt: favorite.favoritable.name, class: "card-img-top" %>
                <%= image_tag "Logo.svg", alt: favorite.favoritable.name, style: "width:80%" %>
              </div>
              <div>
                <p style="margin-left: 0.5rem; margin-bottom: 0; display: inline-block; padding: 0.2rem; color: pink; border: 2px solid pink; border-radius: 20px;"><%= favorite.favoritable.category %></p>
                <a href="<%= event_path(favorite.favoritable) %>" style="text-decoration: none; display: block; color: black; font-size: 1.5rem; font-weight:bold;"><%= favorite.favoritable.name %></a>
                <p style="margin: 0; color: #666;">Location:<%= favorite.favoritable.location %></p>
                <p style="margin: 0; color: #666;">Date:<%= favorite.favoritable.date %></p>
                <p style="color: #666;">
                 <i class="fa-regular fa-bookmark" style="font-size: 1rem; color: #666;"></i>
                <strong><%= favorite.favoritable.favorited.count %></strong>
                <%= favorite.favoritable.favorited.count == 1 ? 'Bookmark' : 'Bookmarks' %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4" style="height: 100vh; position: sticky; top: 0;"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
