<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>Upcoming Events</h2>
      <div class="row justify-content-center">
        <% if @upcoming_events.count > 0 %>
          <% @upcoming_events.each do |favorite| %>
            <div class="col-4 mb-4 event-card">
              <div>
                <div class="d-block">
                  <%= cl_image_tag favorite.favoritable.photo.key, alt: favorite.favoritable.name, style: "width:80%" %>
                </div>
                <div>
                  <p class="event-category"><%= favorite.favoritable.category %></p>
                  <a href="<%= event_path(favorite.favoritable) %>" class="event-title"><%= favorite.favoritable.name %></a>
                  <p class="event-location"><%= favorite.favoritable.location %></p>
                  <p class="event-date"><%= favorite.favoritable.date.strftime("%B %d, %Y %I:%M %p") %></p>
                  <p class="event-bookmarks">
                    <i class="fa-regular fa-bookmark" style="color: black; font-size: 1rem;"></i>
                    <strong><%= favorite.favoritable.favorited.count %></strong>
                    <%= favorite.favoritable.favorited.count == 1 ? 'Bookmark' : 'Bookmarks' %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="no-events">Hey, you didn’t bookmark anything! What are your plans? <i class="fa-solid fa-face-laugh"></i></p>
        <% end %>
      </div>

      <h2>Past Events</h2>
      <div class="row justify-content-center">
        <% if @past_events.count > 0 %>
          <% @past_events.each do |favorite| %>
            <div class="col-6 mb-4 event-card">
              <div>
                <div class="d-block">
                  <%= cl_image_tag favorite.favoritable.photo.key, alt: favorite.favoritable.name, style: "width:80%" %>
                </div>
                <div>
                  <p class="event-category"><%= favorite.favoritable.category %></p>
                  <a href="<%= event_path(favorite.favoritable) %>" class="event-title"><%= favorite.favoritable.name %></a>
                  <p class="event-location">Location: <%= favorite.favoritable.location %></p>
                  <p class="event-date">Date: <%= favorite.favoritable.date.strftime("%B %d, %Y %I:%M %p") %></p>
                  <p class="event-bookmarks">
                    <i class="fa-regular fa-bookmark" style="color: black; font-size: 1rem;"></i>
                    <strong><%= favorite.favoritable.favorited.count %></strong>
                    <%= favorite.favoritable.favorited.count == 1 ? 'Bookmark' : 'Bookmarks' %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="no-events">Looks like you didn’t bookmark any event in the past! <i class="fa-solid fa-clock"></i></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
