<div id="message-<%= message.id %>" class="message <%= message.user === user ? 'sent' : 'received' %>" data-controller="message" data-message-user-id-value="<%= message.user.id %>">
  <p class="message-info">
    <strong><%= message.user.username %></strong>
    <%= message.created_at.strftime("%a %b %e at %l:%M %p") %>
  </p>
  <p class="message-content"><%= message.content %></p>
</div>
