<h2>Edit user:  <%= current_user.username %></h2>
<div class="edit-content col-md-4", style="margin: auto">
  <% if current_user.photo.key.present? %>
    <div class="text-center">
      <%= cl_image_tag current_user.photo.key, class: "profile-picture" %>
    </div>
  <% end %>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :address, required: true,
          input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
      current address: <%= current_user.address %>

      <div class="form-group">
        <%= f.input :photo, as: :file, label: "Upload new profile picture", input_html: { class: "form-control" } %>
      </div>

      <%= f.input :username, required: true %>

      <!-- Updated categories -->
      <div class="form-group">
        <%= f.label :categories, "Categories", class: "form-label string required" %>
        <div class="checkbox-group">
          <% ['Pop', 'Rock', 'Hip-Hop', 'Electronic', 'Country', 'Classic'].each do |category| %>
            <div class="form-check">
              <%= check_box_tag "user[categories_list][]", category, current_user.categories ? current_user.categories.include?(category) : false, class: "form-check-input" %>
              <%= label_tag "user_categories_#{category}", category, class: "form-check-label" %>
            </div>
          <% end %>
        </div>
      </div>

      <%= f.input :radius, required: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "Leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "We need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>


<div class="form-actions" style="margin-bottom: 40px; width: 50%; margin: auto; text-align: center;">
  <%= f.button :submit, "Update", class: "btn-updated" %>
</div>
  <% end %>

  <div style="margin-top: 50px; margin-bottom: 20px;">
    <%= link_to "Back", :back, class: "btn-updated" %>
  </div>
</div>
