
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="height:7rem; border-bottom:0.01em solid gray; margin-right:3rem; margin-left:3rem; background-color:#FFFFFF;">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Logo.svg", style: "width: 5rem; height: auto; margin-top:0.5rem;" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex">
      <%= link_to "MY EVENTS",  my_created_events_path, style: "text-decoration: none; color: black; margin-right: 4rem; margin-top: 0.5rem;" %>
      <%= link_to "BOOKMARKS", bookmarks_path, style: "text-decoration: none; color: black; margin-right: 4rem; margin-top: 0.5rem;" %>
      <%= link_to "+ CREATE EVENT",  new_event_path, style: "text-decoration: none; color: black; margin-right: 4rem; margin-top: 0.5rem;" %>
    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:0.5rem">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item my-auto" >
            <p class="nav-link my-auto username" style="color:black; font-style:blod; margin-top:0.5rem; margin-right:0.5rem;" ><%= current_user.username %></p>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key,
              class: "avatar dropdown-toggle",
              id: "navbarDropdown",
              data: { bs_toggle: "dropdown" },
              'aria-haspopup': true,
              'aria-expanded': false,
              width: "40",
              height: "40" %>
            <% else %>
            <%= image_tag "unknown-user.jpeg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end  %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item my-auto">
            <p class="nav-link my-auto username" style="color:black; font-style:blod; margin-top:0.5rem; margin-right:0.5rem;" >
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </p>
              </li>
            <%= image_tag "unknown-user.jpeg", class: "avatar dropdown-toggle"%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
