<div class="content">
  <!-- pulsating star sign -->
  <div class="banner-stararea">
    <div class="starsign">
      <%= image_tag "star.svg" %>
    </div>
  </div>
  <!-- Main Banner -->
  <div class="banner-main-title">
    <h1>Wherever Music Takes You, Find It Here</h1>
  </div>
<!-- Sub-banner text -->
  <div class="banner-subtext">This is the place, where you will find your next event. The Music you love.The event you ever wanted to go. The place to follow the right people. <p> Welcome to Melody Map. Follow your rhythm.</p></div>


  <div class="col banner-search-area">
    <%= form_with url: events_path, method: :get, local: true do %>
      <div class="form-group banner-search-form">
        <%= label_tag :query, "" %>
        <%= text_field_tag :query, params[:query], class: "form-control rounded-pill", placeholder: "search here" %>
        <div class="col-auto banner-button-area">
          <button class="banner-btn-success" type="submit">&gt;</button>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Circle Logo -->
  <div class="circle-logo-area">
    <%= image_tag "circle-single.svg", class: "banner-circle1"%>
    <%= image_tag "half-moon-single.svg", class: "banner-half-moon0" %>
    <%= image_tag "half-moon-single.svg", class: "banner-half-moon1" %>
    <%= image_tag "half-moon-single.svg", class: "banner-half-moon2" %>
    <%= image_tag "half-moon-single.svg", class: "banner-half-moon3" %>
  </div>
    <!-- End of content -->
</div>
