<div class="row">
  <div class="d-flex">
    <h2><i class="fa-solid fa-music" style="margin-top: 4rem;margin-bottom: 4rem;font-size: 1.5rem;color:black;"></i>Our Picks For You!</h2>
    <button style="background-color: white;padding: 0.2rem; color: black; border: 2px solid black; border-radius: 20px;">VIEW ALL</button>
  </div>

  <% @events.each do |event| %>
    <div class="col-4 mb-4">
      <div>
        <div class="d-block mb-4">
          <%#= image_tag event.image_url, alt: event.name, class: "card-img-top" %>
          <%= image_tag "Logo.svg", alt: event.name, style: "width:80%" %>
        </div>
        <div>
          <p style="margin-left: 0.5rem; margin-bottom: 0; display: inline-block; padding: 0.2rem; color: pink; border: 2px solid pink; border-radius: 20px;"><%= event.category %></p>
          <a href="<%= event_path(event) %>" style="text-decoration: none; display: block; color: black; font-size: 1.5rem; font-weight:bold;"><%= event.name %></a>
          <p style="margin: 0; color: #666;"><%= event.location %></p>
          <p style="margin: 0; color: #666;"><%= event.date %></p>
          <p style="color: #666;">
            <i class="fa-regular fa-bookmark" style="font-size: 1rem; color: #666;"></i>
            <strong><%= event.favorited.count %></strong>
            <%= event.favorited.count == 1 ? 'Bookmark' : 'Bookmarks' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
