<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Edit Event</h2>
      <%= form_with(model: @event) do |form| %>

        <div class="mb-3">
          <%= form.label :name, "Event name", class: "form-label" %>
          <%= form.text_field :name, class: "form-control", placeholder: "Enter event name", required: true %>
        </div>



        <div class="row">
          <div class="col-md-6 mb-3">
            <%= form.label :date, "Date & Time", class: "form-label" %>
            <%= form.datetime_local_field :date, class: "form-control", required: true %>
          </div>

        </div>

        <div class="mb-3">
          <%= form.label :location, "Location", class: "form-label" %>
          <%= form.text_field :location, class: "form-control", placeholder: "Enter event location", required: true %>
        </div>

        <div class="mb-3">
          <%= form.label :duration, "Duration", class: "form-label" %>
          <%= form.text_field :duration, class: "form-control", placeholder: "e.g., 2 hours", required: true %>
        </div>

        <div class="mb-3">
          <%= form.label :description, "Description", class: "form-label" %>
          <%= form.text_area :description, class: "form-control", rows: 4, placeholder: "Enter event description", required: true %>
        </div>
        <div class="mb-3">
          <%= form.label :category, "Category", class: "form-label" %>
          <%= form.text_area :category, class: "form-control", rows: 4, placeholder: "Enter a category", required: true %>
        </div>



        <div class="d-flex justify-content-between">
          <%= link_to 'Cancel', events_path, class: "btn btn-secondary" %>
          <%= form.submit "Update Event", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
