<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Edit Event</h2>
      <%= simple_form_for @event do |form| %>

        <div class="mb-3">
          <%= form.input :name, label: "Event name", required: true, input_html: { class: "form-control" } %>
        </div>

        <div class="row">
          <div class="">
            <%= form.input :date, as: :datetime, label: "Date and Time", required: true, input_html: { class: "form-control" } %>
          </div>
        </div>


        <div class="mb-3">
          <%= form.input :location, required: true,
              input_html: {data: {location_autocomplete_target: "location"}},
              wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
        </div>

        <div class="mb-3">
          <%= form.input :category, collection: [["Pop", "Pop"], ["Rock", "Rock"], ["Hip-Hop", "Hip-Hop"], ["Electronic", "Electronic"], ["Country", "Country"], ["Classic", "Classic"]],
                        label: "Category", prompt: "Select a Category", required: true, input_html: { class: "form-select" } %>
        </div>


        <div class="mb-3">
          <%= form.input :description, as: :text, label: "Description", required: true, input_html: { class: "form-control", rows: 4, placeholder: "Enter event description" } %>
        </div>


        <div class="mb-3">
          <%= form.input :photo, as: :file, label: "Photo", required: true %>
        </div>


        <div class="d-flex justify-content-between">
          <%= link_to 'Cancel', events_path, class: "btn btn-secondary" %>
          <%= form.submit "Update Event", class: "btn btn-primary" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
