<div class="d-block">
  <div class="container">
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="banner">
      <%= render 'banner' %>

      </div>

    <div class="pick-for-you">
      <%= render 'pick-for-you' %>
    </div>
    <div class="trendsetter-index">
      <%= render 'trendsetters-index' %>
    </div>
    <div class="bookmarks-index">
      <%= render 'bookmarks-index' %>
    </div>
  </div>
  <div class="col-4" style="height: 100vh; position: sticky; top: 0;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
