<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Create New Event</h2>

      <% if @event.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h4>
          <ul>
            <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= simple_form_for @event, html: { class: "form" } do |form| %>

        <div class="mb-3">
          <%= form.input :name, label: "Event name", input_html: { class: "form-control", placeholder: "Enter event name" }, required: true %>
        </div>

        <div class="row">
           <%= form.input :date, as: :string, label: "Date and Time", input_html: { data: { controller: "datepicker" } }, required: true %>
        </div>

        <div class="mb-3">
          <%= form.input :location, required: true,
                                    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                                    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
          </div>

        <div class="mb-3">
          <%= form.input :category, collection: [["Pop", "Pop"], ["Rock", "Rock"], ["Hip-Hop", "Hip-Hop"], ["Electronic", "Electronic"], ["Country", "Country"], ["Classic", "Classic"]], prompt: "Select a Category", label: "Category", input_html: { class: "form-select" }, required: true %>
        </div>

        <div class="mb-3">
          <%= form.input :photo, as: :file, label: "Photo", input_html: { class: "form-control-file" }, required: true %>
        </div>

        <div class="mb-3">
          <%= form.input :description, as: :text, label: "Description", input_html: { class: "form-control", rows: 4, placeholder: "Enter event description" }, required: true %>
        </div>

        <div class="d-flex justify-content-between">
          <%= link_to 'Cancel', events_path, class: "btn btn-secondary" %>
          <%= form.button :submit, "Create Event", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
