<div class="container" data-controller="hover-cards">
  <h1>My Created Events</h1>

  <div class="events-navigation" data-hover-cards-target="hover-cardsElement">
    <button class="event-nav-button" data-action="click->hover-cards#showUpcoming">Upcoming events</button>
    <button class="event-nav-button" data-action="click->hover-cards#showPast">Past events</button>
  </div>

  <div id="upcoming-events" class="events-grid" data-hover-cards-target="upcoming">
    <% @events.where('date >= ?', Date.today).each do |event| %>
      <div class="event-card">
        <h3><%= link_to event.name, event_path(event.id), style:"text-decoration: none; color: black" %></h3>
        <% if event.photo.attached? %>
          <%= cl_image_tag event.photo.key, class: "event-image" %>
        <% else %>
          <img src="https://via.placeholder.com/150" alt="Placeholder Image" class="event-image">
        <% end %>
        <p><%= event.description %></p>
      </div>
    <% end %>
  </div>

  <div id="past-events" class="events-grid" data-hover-cards-target="past">
    <% @events.where('date < ?', Date.today).each do |event| %>
      <div class="event-card">
        <h3><%= link_to event.name, event_path(event.id), style:"text-decoration: none; color: black" %></h3>
        <% if event.photo.attached? %>
          <%= cl_image_tag event.photo.key, class: "event-image" %>
        <% else %>
          <img src="https://via.placeholder.com/150" alt="Placeholder Image" class="event-image">
        <% end %>
        <p><%= event.description %></p>
      </div>
    <% end %>
  </div>
</div>
