<div class="myspace-buttons">
  <%= link_to followers_path, class: 'myspace-button followers-button' do %>
  My Followers (<%= @followers.count %>)
  <% end %>
  <%= link_to bookmarks_path, class: 'myspace-button bookmarks-button' do %>
  My Bookmarks (<%= @bookmarks.count %>)
  <% end %>
  <%= link_to my_created_events_path, class: 'myspace-button events-button' do %>
  My Events (<%= @events.count %>)
  <% end %>
</div>
