<h1 class="page-title">Trendsetters</h1>

<div class="trendsetters-container" style="background-color:#FFFFFF;">
  <% @trendsetters.each do |user| %>
    <div class="trendsetter-card">
      <div class="avatar-container-index">
        <div class="avatar">
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key, class: "avatar" %>
          <% else %>
            <span class="avatar-initials"><%= user.username.first(2).upcase %></span>
          <% end %>
        </div>
        <div class="avatar-name">
          <%= user.username %>
        </div>
      </div>
      <div class="follower-count number">
        <%= user.followers.count %> Followers
      </div>
      <div class="upcoming-events">
        Upcoming Events:
        <% if (next_event = user.events.where("date > ?", Time.current).order(:date).first) %>
          <%= next_event.name %>
        <% else %>
          No upcoming events
        <% end %>
      </div>
      <div class="card-buttons">
        <%= link_to "Follow", trendsetter_path(user), class: "follow-button" %>
        <%= link_to "Details", trendsetter_path(user), class: "details-button" %>
      </div>
    </div>
  <% end %>
</div>
