<h1 class="page-title">Trendsetters</h1>
<div class="trendsetters-container" style="background-color:#FFFFFF;">
  <% @trendsetters.each do |user| %>
    <div class="trendsetter-card">
      <!-- Make the entire card clickable -->
      <%= link_to trendsetter_path(user), class: "card-link" do %>
        <div class="avatar-container-index">
          <div class="avatar">
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, class: "avatar dropdown-toggle",
              id: "navbarDropdown",
              data: { bs_toggle: "dropdown" },
              'aria-haspopup': true,
              'aria-expanded': false,
              width: "60px",
              height: "60px",
              style: "display: block; object-fit: cover; border-radius: 50%;" %>
            <% else %>
              <span class="avatar-initials"><%= user.username.first(2).upcase %></span>
            <% end %>
          </div>
          <div class="avatar-name">
            <%= user.username %>
          </div>
        </div>
        <div class="number">
          <%= user.followers.count %> Followers
        </div>
        <div class="upcoming-events">
          Upcoming Events:
          <% if (next_event = user.events.where("date > ?", Time.current).order(:date).first) %>
            <%= next_event.name %>
          <% else %>
            No upcoming events
          <% end %>
        </div>
      <% end %> <!-- Close the link wrapping the card content -->

      <!-- Heart icon for follow/unfollow -->
      <div class="card-buttons">
        <% if current_user.following?(user) %>
          <%= link_to follower_path(user), data: { turbo_method: "DELETE" }, class: 'like-heart' do %>
            <i class="fas fa-heart" style="color: red;"></i> <!-- Red solid heart for following -->
          <% end %>
        <% else %>
          <%= link_to follower_path(user), data: { turbo_method: "POST" }, class: 'like-heart-missing' do %>
            <i class="far fa-heart" style="color: black;"></i> <!-- Empty black heart for not following -->
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
