<!DOCTYPE html>
<html>
  <head>
    <title>MelodyMap</title>
    <%= favicon_link_tag 'music-solid.svg' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: white;" data-current-user-id="<%= current_user ? current_user.id : "" %>">
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>
  <%= link_to "Back", request.referer || root_path, class: "btn btn-secondary back-button" %>
    <%= yield %>
      <%= render 'shared/footer' %>
  </body>
</html>
